<div class="header">
  BEERS ON TAP
</div>

<div
  class="stage"
>

  @for(section of sections(); track section.title){

  <div class="column">

    <div class="section-title">
      {{ section.title }}
    </div>

    <div
      class="page"
      [class.fade-out]="transitioning()"
    >

      @for(
        beer of section.pages[
          pageIndex()[section.title] ?? 0
        ];
        track beer.id
      ){

        <app-beer-row [beer]="beer"></app-beer-row>

      }

    </div>

  </div>

}

</div>

 <div class="footer">
  <div class="ticker">
    Last updated: July 5th, 2026
  </div>
</div>